---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import GlobalLayout from "../../layouts/GlobalLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const [firstPost, ...otherPosts] = posts;
---

<GlobalLayout title="Articles" description="Articles de blog">
  <section>
    <ul class="flex flex-wrap gap-8 list-none text-center">
      <li class="w-full mb-4">
        <a href={`/blog/${firstPost.id}/`}>
          <img src={firstPost.data.heroImage} alt="" class="rounded-lg mb-2" />
          <h4 class="text-xl md:text-3xl">{firstPost.data.title}</h4>
          <p class="text-gray-500">
            <FormattedDate date={firstPost.data.pubDate} />
          </p>
        </a>
      </li>
      {
        otherPosts.map((post) => (
          <li class="w-full md:w-[calc(50%_-_1rem)] mb-4">
            <a href={`/blog/${post.id}/`}>
              <img src={post.data.heroImage} alt="" class="rounded-lg mb-2" />
              <h4 class="text-xl">{post.data.title}</h4>
              <p class="text-gray-500">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</GlobalLayout>
