---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import GlobalLayout from "./GlobalLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<GlobalLayout description={description} title={title}>
  <article>
    <div class="hero-image">
      {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
    </div>
    <div class="prose lg:prose-xl">
      <div class="text-center pt-4 mb-4">
        <div class="mb-2 text-gray-500">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="italic text-base">
                Mis à jour le <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1 class="">{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</GlobalLayout>
